@font-face {
    font-family: 'Josefin Sans';
    src: url('../../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Italique';
    src: url('../../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Italique';
    src: url('../../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}
