@mixin color-style-flat-flesh {
  background-color: #fad390;
  border: 1px solid #fad390;
}

@mixin color-style-melon-melody {
  background-color: #f8c291;
  border: 1px solid #f8c291;
}

@mixin color-style-livid {
  background-color: #6a89cc;
  border: 1px solid #6a89cc;
}

@mixin color-style-spray {
  background-color: #82ccdd;
  border: 1px solid #82ccdd;
}

@mixin color-style-paradise-green {
  background-color: #b8e994;
  border: 1px solid #b8e994;
}

@mixin color-style-white {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #1e272e;
}

@mixin color-style-squash-blossom {
  background-color: #f6b93b;
  border: 1px solid #f6b93b;
}

@mixin color-style-mandarin-red {
  background-color: #e55039;
  border: 1px solid #e55039;
}

@mixin color-style-azraq-blue {
  background-color: #4a69bd;
  border: 1px solid #4a69bd;
}

@mixin color-style-dupain {
  background-color: #60a3bc;
  border: 1px solid #60a3bc;
}

@mixin color-style-aurora-green {
  background-color: #78e08f;
  border: 1px solid #78e08f;
}

@mixin color-style-city-lights {
  background-color: #dfe4ea;
  border: 1px solid #dfe4ea;
}

@mixin color-style-iceland-poppy {
  background-color: #fa983a;
  border: 1px solid #fa983a;
}

@mixin color-style-tomato-red {
  background-color: #eb2f06;
  border: 1px solid #eb2f06;
}

@mixin color-style-yue-guang-lan-blue {
  background-color: #1e3799;
  border: 1px solid #1e3799;
}

@mixin color-style-good-samaritan {
  background-color: #3c6382;
  border: 1px solid #3c6382;
}

@mixin color-style-waterfall {
  background-color: #38ada9;
  border: 1px solid #38ada9;
}

@mixin color-style-peace {
  background-color: #a4b0be;
  border: 1px solid #a4b0be;
}

@mixin color-style-carrot-orange {
  background-color: #e58e26;
  border: 1px solid #e58e26;
}

@mixin color-style-jalapeno-red {
  background-color: #b71540;
  border: 1px solid #b71540;
}

@mixin color-style-dark-sapphire {
  background-color: #0c2461;
  border: 1px solid #0c2461;
}

@mixin color-style-forest-blues {
  background-color: #0a3d62;
  border: 1px solid #0a3d62;
}

@mixin color-style-reef-encounter {
  background-color: #079992;
  border: 1px solid #079992;
}

@mixin color-style-black-pearl {
  background-color: #1e272e;
  border: 1px solid #1e272e;
}
